@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cinzel+Decorative:wght@700&family=Roboto:wght@300&display=swap");
/*VARIABLES SASS*/
/*Rojo para el header*/
/*Negro para el footer*/
/*NegroGris para el background de las redes del footer*/
/*GrisClaro para los subitems del footer*/
/*Gris para el formulario*/
/**/
img {
  max-width: 100%;
  margin: 0;
}

.body {
  font-family: "Roboto", cursive;
}

.header-menu,
.footer-menu,
.footer-submenu {
  list-style: none;
}

.header-menu__link,
.header-redes__link {
  text-decoration: none;
}

.main-container {
  line-height: 0;
}

.footer-redes__img,
.header-redes__img {
  width: 30px;
  height: 30px;
}

/*Map padding*/
/*Mixin de flexbox*/
/*Mixin para las cards*/
/*Mixin para las propiedades transition de los botones del formulario*/
@media screen and (min-width: 240px) {
  /*ESTILOS DEL index.html*/
  .body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 100px 1fr 440px;
        grid-template-rows: 100px 1fr 440px;
  }
  /*HEADER ESTILOS*/
  .header {
    background-color: #d83939;
    height: 100px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /*HEADER FIJO*/
    position: fixed;
    width: 100%;
    z-index: 200;
    -webkit-box-shadow: 1px 3px 10px #1f1f1f;
            box-shadow: 1px 3px 10px #1f1f1f;
    /*BOTON MENÚ MOBILE*/
    /*Mixin para el boton mobile*/
    /*ANIMACIÓN DEL BOTÓN*/
  }
  .header-logo__title {
    font-family: "Cinzel Decorative", cursive;
    margin: 0;
    color: white;
    font-size: 9vw;
    padding: 0 0 0 3vw;
  }
  .header-logo__title2 {
    font-family: "Allura", cursive;
    color: black;
  }
  .header-redes {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .header-logo__link {
    text-decoration: none;
    color: white;
  }
  .header-boton {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
  }
  .header-boton__toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 350;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
    top: 20px;
    right: 20px;
  }
  .header-boton__hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 325;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: var(--primary-color);
  }
  .header-boton .header-boton__hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .header-boton .header-boton__hamburger > div:before,
  .header-boton .header-boton__hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 325;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  .header-boton .header-boton__hamburger > div:after {
    top: 10px;
  }
  .header-boton .header-boton__toggler:checked + .header-boton__hamburger > div {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .header-boton .header-boton__toggler:checked + .header-boton__hamburger > div:before,
  .header-boton .header-boton__toggler:checked + .header-boton__hamburger > div:after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .header-boton .header-boton__toggler:checked:hover + .header-boton__hamburger > div {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  .header-boton .header-boton__toggler:checked ~ .boton-menu {
    visibility: visible;
  }
  .header-boton .header-boton__toggler:checked ~ .boton-menu > div {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-duration: var(--menu-speed);
            transition-duration: var(--menu-speed);
  }
  .header-boton .header-boton__toggler:checked ~ .boton-menu > div > div {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }
  .header-boton .boton-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    visibility: hidden;
    background-color: rgba(33, 33, 33, 0.7);
  }
  .header-boton .boton-menu > div {
    background: var(--over-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.4 ease;
    transition: all 0.4 ease;
  }
  .header-boton .boton-menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }
  .header-boton .boton-menu > div > div > ul > li {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .header-boton .boton-menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
  }
  /*MAIN ESTILOS*/
  .main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: justify;
  }
  .main-review {
    margin: 0 auto 0 auto;
  }
  .main-review__iframe {
    max-width: 100%;
  }
  .main-review__text {
    margin: 0;
    padding: 3vw;
  }
  .main-review__link {
    text-decoration: none;
    color: #d83939;
  }
  .main-accesorios__information {
    padding: 0 3vw 0 3vw;
    text-align: justify;
  }
  .guitar-card {
    margin: 0 0 50px 0;
  }
  .guitar-information {
    background-color: #d1d1d1;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews-section__information {
    padding: 0 3vw 0 3vw;
    text-align: justify;
  }
  .contacto-section__title,
  .reviews-section__title,
  .accesorios-section__title,
  .guitarras-section__title {
    font-size: 30px;
    padding: 0 3vw 0 3vw;
    font-family: "Allura", cursive;
  }
  .iframe-card__title {
    font-size: 5vw;
    padding: 0 3vw 0 3vw;
  }
  .galeria {
    display: none;
  }
  .carrusel {
    overflow: hidden;
  }
  .carrusel-title {
    text-align: center;
    padding: 0 3vw 0 3vw;
  }
  .carrusel figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    -webkit-animation: 20s slider infinite;
            animation: 20s slider infinite;
    z-index: 100;
  }
  .carrusel figure img {
    width: 20%;
    float: left;
    line-height: 0;
  }
  @-webkit-keyframes slider {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
  }
  @keyframes slider {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
  }
  .banner {
    background: url(../material/pexels-rombo-2912980.jpg) repeat fixed 100%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 349.53px;
    padding: 13% 0;
  }
  .banner-text {
    padding: 0 3vw 0 3vw;
    color: black;
    margin: 0;
    background-color: white;
    padding: 20px 5px;
  }
  .banner-link {
    text-decoration: none;
    -webkit-transition-property: text-shadow;
    transition-property: text-shadow;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .banner-link:hover {
    text-shadow: 5px 5px 10px whitesmoke;
  }
  .iframe-container {
    display: none;
  }
  .formulario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: whitesmoke;
  }
  .formulario-label {
    margin: 5px 0 5px 0;
    padding: 3vw;
    font-size: 7vw;
  }
  .formulario-input, .formulario-select {
    margin: 0 3vw 0 3vw;
    height: 7vw;
  }
  .formulario-select {
    width: 150px;
  }
  .formulario-textarea {
    resize: none;
    margin: 0 3vw 3vw 3vw;
  }
  .formulario-botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 3vw 3vw 3vw;
  }
  .formulario-boton {
    color: white;
    border-radius: 5px;
    width: 30vw;
    padding: 1vw 0 1vw 0;
  }
  .boton-enviar {
    background-color: #d83939;
    border: 1px solid #d83939;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .boton-enviar:hover {
    background-color: white;
    color: #d83939;
  }
  .boton-resetear {
    background-color: black;
    border: 1px solid black;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .boton-resetear:hover {
    background-color: white;
    color: black;
  }
  .iframe-card__description {
    padding: 0 3vw 0 3vw;
    text-align: justify;
  }
  .strato-container__video,
  .academy-container__video,
  .telecaster-container__video,
  .sg-container__video,
  .paul-container__video {
    max-width: 100%;
  }
  .cards-container {
    display: none;
  }
  .cards-section__title {
    display: none;
  }
  .guitar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*FOOTER ESTILOS*/
  .footer {
    background-color: #222222;
    color: white;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: center;
  }
  .footer-logo__title {
    font-family: "Cinzel Decorative", cursive;
  }
  .footer-logo__title2 {
    font-family: "Allura", cursive;
  }
  .footer-nav {
    padding: 0 20px 0 0;
  }
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .footer-menu__item {
    font-size: 5vw;
    color: white;
  }
  .footer-submenu {
    padding: 0;
  }
  .footer-submenu__item {
    font-size: 4vw;
  }
  .footer-submenu__link {
    color: #cacaca;
    text-decoration: none;
  }
  .footer-redes {
    margin: 15px 0 0 0;
    padding: 5px;
    background-color: #2c2c2c;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 2s;
            transition-duration: 2s;
    /*EFECTO CON HOVER PARA QUE AL PASAR POR ENCIMA DEL CONTENEDOR CON LAS REDES CAMBIE DE COLOR Y DESTAQUE MÁS*/
  }
  .footer-redes:hover {
    background-color: #d83939;
  }
  .footer-redes__img {
    color: white;
    margin: 0 5vw 0 5vw;
  }
  .footer-redes__link {
    text-decoration: none;
  }
  .footer-copyright {
    margin: 10px 0 0 0;
  }
  .footer-copyright__img {
    color: #cacaca;
    width: 3vw;
    height: 3vw;
  }
  .footer-copyright__information {
    font-size: 3.5vw;
    color: #cacaca;
  }
}

@media screen and (min-width: 600px) {
  .body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 100px 1fr 400px;
        grid-template-rows: 100px 1fr 400px;
  }
  .header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .header-logo, .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-logo__title, .header-logo__title2 {
    font-size: 30px;
  }
  .header-menu {
    padding: 0;
  }
  .header-menu__item {
    margin: 0 10px 0 10px;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .header-menu__item:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .header-menu__link {
    color: white;
    font-size: 20px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .header-menu__link:hover {
    color: black;
  }
  .header-boton {
    display: none;
  }
  .main {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-review {
    width: 100%;
    height: 60%;
    padding: 5px 0 50px 0;
  }
  .main-review__iframe {
    width: 100%;
    height: 100%;
  }
  .main-review__text {
    padding: 0;
    font-size: 3vw;
  }
  .banner {
    height: 349.53px;
  }
  .container-carrusel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .guitar-container {
    padding-top: 25px;
  }
  .guitar-card {
    width: 400px;
    border: 1px solid #222222;
    -webkit-box-shadow: 6px 6px 6px 0 #222222;
            box-shadow: 6px 6px 6px 0 #222222;
  }
  .formulario-label {
    text-align: start;
    font-size: 5vw;
  }
  .formulario-input, .formulario-select {
    height: 5vw;
  }
  .formulario-boton {
    width: 125px;
  }
  .iframe-card__link {
    text-decoration: none;
    color: #d83939;
  }
  .carrusel {
    overflow: hidden;
    max-width: 70%;
  }
  .carrusel-title {
    text-align: center;
    padding: 0 3vw 0 3vw;
  }
  .carrusel figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    -webkit-animation: 20s slider infinite;
            animation: 20s slider infinite;
    z-index: 100;
  }
  .carrusel figure img {
    width: 20%;
    float: left;
    line-height: 0;
  }
  @-webkit-keyframes slider {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
  }
  @keyframes slider {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
  }
  .footer-logo__title, .footer-logo__title2 {
    font-size: 30px;
  }
  .footer-menu__item {
    font-size: 25px;
    margin: 0 7px;
  }
  .footer-submenu__item {
    font-size: 20px;
  }
  .footer-copyright__information {
    font-size: 15px;
  }
  .footer-copyright__img {
    width: 15px;
    height: 15px;
  }
  .footer-nav {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .body {
    -ms-grid-rows: 100px 1fr 500px;
        grid-template-rows: 100px 1fr 500px;
  }
  .header-logo__title {
    font-size: 35px;
    margin-top: 10px;
  }
  .header-menu__link {
    font-size: 20px;
  }
  .main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-galery {
    display: none;
  }
  .main-review {
    margin-top: 50px;
    height: 50vw;
  }
  .main-review__iframe {
    width: 100%;
    min-height: 100%;
  }
  .main-review__text {
    padding: 0;
    font-size: 1.5vw;
  }
  .banner {
    width: 100%;
    height: 100px;
  }
  .galeria {
    width: 100%;
    display: -ms-grid;
    display: grid;
    height: 90vw;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .galeria-instrumentos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    background: url(../material/pexels-cristian-benavides-2049414.jpg);
    background-size: cover;
    background-position-y: center;
    font-family: "Allura", cursive;
    font-size: 45px;
    text-decoration: none;
    color: white;
  }
  .galeria-acustica {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background-image: url(../material/pexels-viktor-mogilat-3977174.jpg);
    background-size: cover;
    background-position-y: center;
    font-family: "Allura", cursive;
    font-size: 45px;
    text-decoration: none;
    color: white;
  }
  .galeria-puas {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    background-image: url(../material/pexels-rombo-3383703.jpg);
    background-size: cover;
    background-position-y: center;
    font-family: "Allura", cursive;
    font-size: 45px;
    text-decoration: none;
    color: white;
  }
  .container-carrusel {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .formulario {
    width: 600px;
  }
  .formulario-label {
    font-size: 30px;
  }
  .formulario-input,
  .formulario-select {
    height: 30px;
  }
  .intrumentos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .puas {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .acustica {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .footer-nav {
    padding: 0;
  }
  .footer-copyright__information {
    font-size: 17px;
  }
  .footer-copyright__img {
    width: 17px;
    height: 17px;
  }
  .footer-menu__item {
    font-size: 27px;
    margin: 0 10px 0 10px;
  }
  .footer-submenu__item {
    font-size: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .body {
    -ms-grid-columns: (1fr)[9];
        grid-template-columns: repeat(9, 1fr);
    -ms-grid-rows: 100px 1fr 390px;
        grid-template-rows: 100px 1fr 390px;
  }
  .header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-logo__title {
    font-size: 40px;
    padding: 0;
    margin-left: 50px;
  }
  .header-logo__title2 {
    font-size: 40px;
  }
  .header-menu {
    margin-right: 30px;
  }
  .header-menu__link {
    font-size: 20px;
  }
  .main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-review {
    width: 60vw;
    height: 28vw;
  }
  .iframe-container {
    display: block;
  }
  .cards-container {
    height: 1fr;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cards {
    height: 500px;
    width: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 10px 20px 10px;
  }
  .cards-top__title, .cards-bottom__description {
    color: white;
  }
  .cards-top__title {
    font-size: 30px;
    margin: 15px 0 0 0;
  }
  .cards-buttons {
    width: 210px;
    height: 50px;
    margin-bottom: 10px;
    background-color: #d83939;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }
  .cards-buttons__link {
    text-decoration: none;
    color: white;
    display: block;
  }
  .cards-buttons:hover {
    background-color: #da0d0d;
  }
  .cards-boton {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #d83939;
    margin: 0 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }
  .cards-boton:hover {
    background-color: #da0d0d;
  }
  .cards-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: justify;
    line-height: 20px;
  }
  .cards-bottom__description {
    margin: 0 15px 15px 15px;
  }
  .cards-section__title {
    display: block;
  }
  .les-paul {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../material/pruebas/1956-gibson-les-paul-custom.jpg) no-repeat 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../material/pruebas/1956-gibson-les-paul-custom.jpg) no-repeat 50%;
    background-size: cover;
  }
  .les-paul:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(../material/pruebas/1956-gibson-les-paul-custom.jpg) no-repeat 50%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../material/pruebas/1956-gibson-les-paul-custom.jpg) no-repeat 50%;
    background-size: cover;
  }
  .stratocaster {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../material/pruebas/1969-fender-stratocaster.jpg) no-repeat 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../material/pruebas/1969-fender-stratocaster.jpg) no-repeat 50%;
    background-size: cover;
  }
  .stratocaster:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(../material/pruebas/1969-fender-stratocaster.jpg) no-repeat 50%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../material/pruebas/1969-fender-stratocaster.jpg) no-repeat 50%;
    background-size: cover;
  }
  .sg {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../material/pruebas/gibson-sg-1961.jpg) no-repeat 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../material/pruebas/gibson-sg-1961.jpg) no-repeat 50%;
    background-size: cover;
  }
  .sg:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(../material/pruebas/gibson-sg-1961.jpg) no-repeat 50%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../material/pruebas/gibson-sg-1961.jpg) no-repeat 50%;
    background-size: cover;
  }
  .telecaster {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../material/pruebas/telecaster-fender.jpg) no-repeat 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../material/pruebas/telecaster-fender.jpg) no-repeat 50%;
    background-size: cover;
  }
  .telecaster:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(../material/pruebas/telecaster-fender.jpg) no-repeat 50%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../material/pruebas/telecaster-fender.jpg) no-repeat 50%;
    background-size: cover;
  }
  .banner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-text {
    font-size: 2vw;
    background-color: #fff;
    color: #d83939;
    height: 5vw;
    width: 70vw;
    display: inline-block;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-carrusel {
    display: none;
  }
  .tarjetas-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 25px;
  }
  .tarjeta {
    height: 400px;
    width: 275px;
    -webkit-box-shadow: 6px 6px 6px 0 #535353;
            box-shadow: 6px 6px 6px 0 #535353;
    margin: 0 40px 25px 40px;
    border: 1px solid black;
  }
  .tarjeta:hover {
    -webkit-box-shadow: 6px 6px 6px 0 #d83939;
            box-shadow: 6px 6px 6px 0 #d83939;
  }
  .tarjeta-texto {
    height: 100px;
    background-color: #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tarjeta-SG, .tarjeta-stratocaster__cream, .tarjeta-stratocaster__brown, .tarjeta-cort__viva2, .tarjeta-cort__x11, .tarjeta-gibson__ryb, .tarjeta-gibson__negra, .tarjeta-gibson__honey, .tarjeta-gibson__roja, .tarjeta-taylor {
    height: 300px;
  }
  .tarjeta-stratocaster__cream {
    background: url(../material/guitarras/fender-stratocaster_crema.webp) 50%;
    background-size: cover;
  }
  .tarjeta-SG {
    background: url(../material/gibson-sg.webp) 50%;
    background-size: cover;
  }
  .tarjeta-stratocaster__brown {
    background: url(../material/guitarras/fender-stratocaster-2.webp) 50%;
    background-size: cover;
  }
  .tarjeta-cort__viva2 {
    background: url(../material/guitarras/cort-viva_2.webp) 50%;
    background-size: cover;
  }
  .tarjeta-cort__x11 {
    background: url(../material/guitarras/cort-x_11.webp) 50%;
    background-size: cover;
  }
  .tarjeta-gibson__ryb {
    background: url(../material/guitarras/gibson-les_paul_roja_y_negra.webp);
    background-size: cover;
  }
  .tarjeta-gibson__negra {
    background: url(../material/guitarras/gibson-les_paul_negra.webp);
    background-size: cover;
  }
  .tarjeta-gibson__honey {
    background: url(../material/guitarras/gibson-les_paul_honey.webp);
    background-size: cover;
  }
  .tarjeta-gibson__roja {
    background: url(../material/guitarras/gibson-les_paul_roja.webp);
    background-size: cover;
  }
  .tarjeta-taylor {
    background: url(../material/guitarras/taylor-416_Ce.webp);
    background-size: cover;
  }
  .formulario {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3/8;
    margin-bottom: 75px;
    width: 700px;
  }
  .formulario-label {
    font-size: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .formulario-input {
    height: 35px;
  }
  .formulario-select {
    height: 35px;
    width: 200px;
  }
  .formulario-boton {
    width: 200px;
  }
  .contacto-section__title,
  .reviews-section__title,
  .accesorios-section__title,
  .guitarras-section__title {
    font-size: 60px;
  }
  .reviews-section__description {
    font-size: 23px;
    margin: 25px 15px;
  }
  .strato-container,
  .academy-container,
  .telecaster-container,
  .sg-container,
  .paul-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 400px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: whitesmoke;
  }
  .strato-container__video,
  .academy-container__video,
  .telecaster-container__video,
  .sg-container__video,
  .paul-container__video {
    margin-left: 25px;
  }
  .sg-container,
  .paul-container {
    background-color: white;
  }
  .sg-container__video,
  .paul-container__video {
    margin-right: 25px;
    margin-left: 0;
  }
  .strato-information,
  .academy-information,
  .telecaster-information,
  .sg-information,
  .paul-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 620px;
  }
  .iframe-card__title {
    font-size: 30px;
    margin: 0;
  }
  .iframe-card__description {
    text-align: justify;
    font-size: 20px;
  }
  .iframe-card__link {
    text-decoration: none;
    color: #d83939;
  }
  .mobile-container {
    display: none;
  }
  /* Sección guitarras */
  .electric-section,
  .acoustic-section {
    width: 100%;
    background-color: whitesmoke;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
  .electric-section__title,
  .acoustic-section__title {
    font-size: 40px;
  }
  .acoustic-section {
    background-color: #e7e7e7;
  }
  .gibson-title,
  .fender-title,
  .cort-title,
  .taylor-title,
  .yamaha-title {
    font-size: 35px;
    background: #e7e7e7;
    margin: 20px 0 50px 0;
  }
  .taylor-title,
  .yamaha-title {
    background-color: whitesmoke;
  }
  .gibson-container,
  .fender-container,
  .cort-container,
  .taylor-container,
  .yamaha-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .yamaha-container {
    margin: 0 0 15px 0;
  }
  .taylor-container {
    background-color: #e7e7e7;
  }
  .guitar-card,
  .card {
    height: 230px;
    width: 20.438vw;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 4px 0 #535353;
            box-shadow: 4px 4px 4px 0 #535353;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .guitar-card:hover,
  .card:hover {
    -webkit-box-shadow: 5px 5px 5px 0 #d83939;
            box-shadow: 5px 5px 5px 0 #d83939;
  }
  .guitar-container,
  .pic-container {
    width: 10.5vw;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
  }
  .guitar-information,
  .card-information {
    width: 7vw;
    right: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: white;
  }
  .guitar-information__title,
  .card-information__title {
    font-size: 17px;
  }
  .guitar-information__color,
  .card-information__color {
    font-size: 15px;
  }
  .guitar-information__price,
  .card-information__price {
    font-size: 15px;
  }
  .accesorios-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .galeria-instrumentos,
  .galeria-acustica,
  .galeria-puas {
    color: white;
    text-decoration: none;
    font-size: 80px;
    font-family: "Roboto";
  }
  .galeria-instrumentos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 25px;
  }
  .galeria-instrumentos::before {
    content: "";
    width: 345px;
    height: 5px;
    background-color: white;
    margin-top: 25px;
  }
  .galeria-instrumentos::after {
    content: "";
    width: 345px;
    height: 5px;
    background-color: white;
  }
  .galeria-acustica {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 25px;
  }
  .galeria-acustica::before {
    content: "";
    width: 345px;
    height: 5px;
    background-color: white;
    margin-top: 25px;
  }
  .galeria-acustica::after {
    content: "";
    width: 345px;
    height: 5px;
    background-color: white;
  }
  .galeria-puas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 25px;
  }
  .galeria-puas::before {
    content: "";
    width: 390px;
    height: 5px;
    background-color: white;
  }
  .galeria-puas::after {
    content: "";
    width: 390px;
    height: 5px;
    background-color: white;
    margin-bottom: 25px;
  }
  .card {
    height: 200px;
    width: 300px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 10px 0;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 4px 0 #535353;
            box-shadow: 4px 4px 4px 0 #535353;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .card-container {
    width: 150px;
    height: 300px;
  }
  .card-name {
    width: 150px;
  }
  .footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .footer-nav {
    padding: 0;
  }
  .footer-logo__title {
    font-size: 30px;
  }
  .footer-logo__title2 {
    font-size: 30px;
  }
  .footer-menu__item {
    font-size: 20px;
  }
  .footer-submenu__link {
    font-size: 20px;
  }
  .footer-copyright__information {
    font-size: 20px;
  }
  .footer-copyright__img {
    width: 15px;
    height: 15px;
  }
  .footer-submenu__item {
    font-size: 20px;
  }
  .footer-redes__img {
    margin: 0 25px;
  }
}

@media screen and (min-width: 1200px) {
  .body {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 100px 1fr 400px;
        grid-template-rows: 100px 1fr 400px;
  }
  .header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .header-logo__title {
    font-size: 45px;
  }
  .header-logo__title2 {
    font-size: 45px;
  }
  .header-menu {
    margin-right: 50px;
  }
  .header-menu__link {
    font-size: 25px;
    margin: 0 10px;
  }
  .main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .galeria-instrumentos,
  .galeria-acustica,
  .galeria-puas {
    color: white;
    text-decoration: none;
    font-size: 80px;
    font-family: "Roboto";
  }
  .galeria-instrumentos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 25px;
  }
  .galeria-instrumentos::before {
    content: "";
    width: 345px;
    height: 5px;
    background-color: white;
    margin-top: 25px;
  }
  .galeria-instrumentos::after {
    content: "";
    width: 345px;
    height: 5px;
    background-color: white;
  }
  .galeria-acustica {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 25px;
  }
  .galeria-acustica::before {
    content: "";
    width: 345px;
    height: 5px;
    background-color: white;
    margin-top: 25px;
  }
  .galeria-acustica::after {
    content: "";
    width: 345px;
    height: 5px;
    background-color: white;
  }
  .galeria-puas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 25px;
  }
  .galeria-puas::before {
    content: "";
    width: 390px;
    height: 5px;
    background-color: white;
  }
  .galeria-puas::after {
    content: "";
    width: 390px;
    height: 5px;
    background-color: white;
    margin-bottom: 25px;
  }
  .cards-section__title {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 50px;
  }
  .cards-container {
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards {
    margin: 0 15px 0 15px;
  }
  .strato-container,
  .academy-container,
  .telecaster-container,
  .sg-container,
  .paul-container {
    height: 450px;
  }
  .strato-container__video,
  .academy-container__video,
  .telecaster-container__video,
  .sg-container__video,
  .paul-container__video {
    width: 80%;
    height: 90%;
  }
  .strato-information,
  .academy-information,
  .telecaster-information,
  .sg-information,
  .paul-information {
    width: 100%;
    text-align: start;
  }
  .contacto-section__title,
  .reviews-section__title,
  .accesorios-section__title,
  .guitarras-section__title {
    font-size: 60px;
  }
  .formulario-label {
    font-size: 35px;
  }
  .formulario-input,
  .formulario-select {
    height: 35px;
  }
  .formulario-boton {
    margin: 0;
    padding: 10px;
    width: 150px;
  }
  .footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .footer-logo__title {
    font-size: 30px;
  }
  .footer-logo__title2 {
    font-size: 30px;
  }
  .footer-menu__item {
    font-size: 20px;
  }
  .footer-submenu__link {
    font-size: 20px;
  }
  .footer-copyright__information {
    font-size: 20px;
    margin: 0;
  }
  .footer-copyright__img {
    width: 15px;
    height: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */